<!DOCTYPE html>

<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>


.about{
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.about h1{
    color: #000;
    font-size: 25px;
    text-decoration: underline;
}

.text h3{
    font-size: 20px;
    text-align: center;
}

table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

    </style>
    
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}     

          <div class="about">
            <h1>About Us</h1>
          </div>

          <div class="table">
            <table role="presentation" border="0"  cellpadding="0" align="center" width="100%">
                <tr>
                </br></br></br></br></br></br>
                <th><br><br>
                    
            <div class="text">
                <h3>
                    This is a book recognition system that can be used to identify a book by its cover image.
                    <br>Image recognition, in the context of ML, is the ability of software to identify objects,
                    places, people, writing and actions in images. It is used to perform a large number of machine-
                    based visual tasks, such as labeling the content of images with meta-tags. Our web application is
                    a quick one stop solution to reading the name and writer of the book from the cover image
                    uploaded. This application will detect capital letters, small letters, and special characters as well.
                    Thus making random book recognition online easier.
                    <br><br><br>

                    <table style="width: 100%;">
                        <tr>
                            <th>Roll No.</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Vinutha Chelamallu</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Melita Coutinho</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Jenny Dcruz</td>
                        </tr>
                    </table>
                </h3>
            </div>

          </font>
          </th></tr>
        </table></div>
        {% endblock %}
    </body>
</html>

