<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
    	<div class="main">
    		<div class="logo">
    			<img src="logo.png">
    		</div>
    		<ul>
    			<li class="active"><a href="#">Home</a></li>
    			<li><a href="#">About Us</a></li>
    		</ul>
    	</div>
    	<div class="title">
    		<h1>Book Recognition System</h1>
    	</div>

    	<div class="uplink">
    		<h3><a href="upload.html" class="upl">Click here to upload image</a></h3>
    	</div>
    
    </header>
  </body>
</html>