<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
         <img src="https://s3.ap-south-1.amazonaws.com/hsdreams1/pins/2019/02/big/f04ec0bdff7e4ab9f738870028c0b5cf.jpeg" alt="logo">
        </div>
        <ul>
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about') }}">About</a></li>
       </ul>
      </div>

      <div class="title">
        <h1 class="logo">Book Recognition System</h1>
      </div>
      
    </header>
      {% block content %}
      {% endblock %}

  </body>
</html>