<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
 <body>
  <header>
      <div class="main">
        <div class="logo">
          <img src="logo.png">
        </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="upload">
        <h3>Upload image here</h3>
      </div>


      {% if msg %}
      <h1>{{ msg }}</h1>
      {% endif %}
     
      <h1>Upload new File</h1>
     
      <form method=post enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit value=Upload>
      </form>
   
      <h1>Result:</h1>
      {% if img_src %}
        <img src="{{ img_src }}">
      {% endif %}
     
      {% if extracted_text %}
        <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
     
      {% else %}
        The extracted text will be displayed here
      {% endif %}
    </body>
   </html>