<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
   <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <body>
  <header>
      <div class="main">
        <div class="logo">
          <img src="logo.png">
        </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="upload">
        <h3>Upload image here</h3>
      </div>


      <!--    % if msg %}
      <h1>{{ msg }}</h1>
      {% endif %}     -->

          <form method=post enctype=multipart/form-data>
            <div class="button">
            <div class="box"><input type=file name=file value="Choose file"></div></br></br>
            <input type=submit value=Upload>
          </div></form>

      <div class="result">
        <h3>Result: </h3>

         <!-- {% if img_src %}
     <img src="{{ img_src }}">
   {% endif %}
  
   {% if extracted_text %}
     <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
  
   {% else %}
     The extracted text will be displayed here
   {% endif %}         -->
      </div>
  

  

    </header>
 </body>
</html>